* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    float: top; 
    background-color: #666;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    color: white;
  }

  .modalWindow {
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    z-index: 99999;
    opacity:0;
    pointer-events: none;
    text-align:center;
    }
    .modalWindow:target {
    opacity:1;
    pointer-events: auto;
    }
    .modalWindow > div {
    width: 500px;
    position: relative;
    margin: 10% auto;
    background: #fff;
    }
  
  /* Create two columns/boxes that floats next to each other */
/*
  nav {
    float: left;
    width: 30%;
    background: #ccc;
    padding: 20px;
  }
  
  
  article {
    float: left;
    padding: 10px;
    width: 70%;
    background-color: #f1f1f1;
  }
 */ 

  
  /* Style the footer */
  footer {
    background-color: rgb(165, 165, 165);
    padding: 5px;
    text-align: center;
    color: white; 
  }
  